@import url("reset.css");

.topbar_wrap {
	width: 100%;
	background-color: #000;
	line-height: 38px;
	margin: 0px auto;	
	position: fixed;
	z-index: 99;
}

.topbar{
	width: 1200px;
	height: 53px;
	background-color: #000;
	line-height: 53px;
	margin: 0px auto;
	border-bottom: 1px solid #000;
}


.topbar ul{
}


.topbar .logo{
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	letter-spacing: 1px;
	padding-top: 8px;
	padding-right: 130px;
	float: left;
}

.topbar .logo img{
	width: 147px;
	height: 35px;
}


.topbar li{
	width: 150px;
	margin:0 auto;
	float: left;
	border-left:1px solid #3b3030;		
	border-right:1px solid #3b3030;	
}

.topbar li:first-child{
	border-left:none;
}
.topbar li:last-child{
	border-right: none;
}

.topbar li a{
	font-size:22px;
	color: #fff;	
	text-align: center;
	font-weight: normal;
	letter-spacing: 1px;
	display: block;
}


.topbar li a:hover{
	background:#fdff69;
	font-size: 22px;
	color: #000;	
	text-align: center;
	font-weight: normal;
	display: block;
}


.sidebar{
    position: fixed;
    right: 20px;
    top:8%;
    z-index: 999999;
    display: block;
    background-color: #660108;
    opacity: 1;
    border-radius: 30px;
    border:1px solid #000;
    padding:40px 0 20px 0;
}


.sidebar ul li:last-child{
	border-bottom:0px dotted #000;
}


.sidebar ul li a{
		width: 120px;
		display: block;
		padding:10px 10px;
		line-height: 17px;
		border-bottom:1px dotted #fff;	
		display: block;   
    color: #fff;
    font-size: 15px;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    font-weight: bold;
}


.sidebar ul li a:hover{
	 color: #000;
   position: relative;
   right: 0px;
   background-color: #fff;
}


.sidebar .top img {
		display: block;  
		margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

#gotop{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 15px;
    bottom:10%;
    right: 2%;
    background-color: #78290a;
    z-index: 15;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;	
}

#gotop p{
    padding-top: 18px;
    color: #fff;
    line-height: 1;
}


.wrap{
  margin: 0 auto;
  width: 100%;
	height: auto;
	background: url(../images/index_bg.jpg) no-repeat scroll center top ; 
}


.wrap img{
	border: 0px;
  vertical-align: top;
}

.arrow{
  display: block;
  position: absolute;
  left: 580px;
  animation: scroll 1s linear infinite;
}

@keyframes scroll{0%{top:815px}
50%{top:810px}
100%{top:815px}
}



.kv_desk{
	width:1200px;
	height: 900px;	
	margin: 0 auto;
	position: relative;
}

.kv_content{
	margin: 0 auto;
	width:1200px;
	height:940px; 
	background-repeat:no-repeat;
	position: relative;
	/*background: url(../images/kv_bg.jpg) no-repeat center top;*/
}

.kv_logo {
	position: absolute;
	display: block;
  top: 115px;
  left: 353px;
  z-index: 2;
 }


.kv_slogan1{
	position: absolute;
	display: block;
  top: 80px;
  left: 205px;
  z-index: 2;
  cursor:pointer;
}

.kv_day{
	position: absolute;
	display: block;
  top: 165px;
  left: 860px;
  z-index: 2;
  cursor:pointer;
}

.kv_prod01{
	position: absolute;
  margin-top: 250px;
  left:-345px;  
}

.kv_prod02{
	position: absolute;
  margin-top: 200px;
  right:-355px;      
}

.kv_light{
	position:absolute;
	top: 130px;
  left: 750px;
	z-index:9;
	mix-blend-mode: screen;
}

.kv_light2{
	position:absolute;
	top: 325px;
  left: 120px;
	z-index:9;
	mix-blend-mode: screen;
}

.kv_coins01{
	position: absolute;
	top: 125px;
  left: -200px;
	z-index:9;
  -webkit-animation: bounce-down 4s -.2s linear infinite;		
}

.kv_coins02{
	position: absolute;
	top: 125px;
  right: 60px;
	z-index:9;
  -webkit-animation: bounce-down 3s -.2s linear infinite;		
}

.kv_mobile{
	display: none;
}


/*活動內容*/
.event_container{
	background: url(../images/content_bg.jpg) repeat-y center top;
  position: relative;    
  overflow: hidden;
}

.event_contnet{
	margin: 0 auto;
	width:1200px;
	height: auto;
	padding-top: 50px;
}

.nav{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}

.nav ul{

}

.nav li{
	width: 365px;
	height: 91px;
	float: left;
	display: block;
	position: relative;
	margin-left: 30px;
}


.nav li:hover{
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;		
	-webkit-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-moz-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-ms-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-o-transform: translateY(-4px); scale(1);filter:brightness(115%);
	transform: translateY(-4px); scale(1);filter:brightness(115%);
}


.title_m{
	display: none;
}

.content_01{
	display: block;
	margin-top: 50px;
}

.content_01 .content{	
	margin:0 auto;	
	width: 1200px;
	height: 500px;
	position: relative;
	background-image:url(../images/shipping_order.png);
	margin-bottom: 20px;
}

.content_01 .title{
	display: block;
  width: 1200px;
  margin: 0 auto;
}

.content_01 .title img{	
	display: block;
	margin:0 auto;		
}


.content_01 ul{
	display: block;
	position: absolute;
	margin:355px 0 0 300px;	
}

.content_01 li{
	float: left;
	margin-left: 30px;
}
.content_01 li:hover{
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;		
	-webkit-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-moz-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-ms-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-o-transform: translateY(-4px); scale(1);filter:brightness(115%);
	transform: translateY(-4px); scale(1);filter:brightness(115%);
}


.content_02{
	width:1200px;
	height:490px;
	background-repeat:no-repeat;
	margin:0 auto 70px auto;
}

.content_02 .content{	
	margin:0 auto;	
}

.content_02 .title{
	display: block;
	width: 1200px;
	margin:0 auto;		
}

.content_02 .title img{
	display: block;
	margin:0 auto;	
}


.content_02 .content ul{	
	margin:10px 0 0 10px;	
}

.content_02 .content li{	
	float: left;
	margin-left: 10px;
}

.content_02 .content li:hover{	
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;		
	-webkit-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-moz-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-ms-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-o-transform: translateY(-4px); scale(1);filter:brightness(115%);
	transform: translateY(-4px); scale(1);filter:brightness(115%);
}

/*商品*/

.content_03{
	width:1200px;
	height:auto;
	margin:0 auto;
	display: flex;
	margin-bottom: 50px;
}

.content_03 .content{	
	margin:0 auto;	
}

.content_03 .title{
	display: block;
	width: 1200px;
	margin:0 auto;		
}

.content_03 .title img{
	display: block;
	margin:0 auto;	
}

.content_03 .title_select{
	display: block;
	width: 1200px;
	margin:0 auto;
	padding-top: 20px;	
	clear: both;	
}

.content_03 .title_select img{
	display: block;
	margin:0 auto;	
}


.content_03 .content ul.prod{
	margin:10px 0 0 21px;	
}

.content_03 .prod li img:hover{
	transition: 0.3s;
	-webkit-filter:brightness(110%); 
  	-webkit-transform:scale(0.95);
    -moz-transform:scale(0.95);
    -ms-transform:scale(0.95);
    -o-transform:scale(0.95);
    transform:scale(0.95);
     -webkit-filter: brightness(120%);   
}


.content_03 .content ul.prod_watch{
	margin:10px 0 0 21px;	
}

.content_03 .prod_watch img:hover{
	transition: 0.3s;
	-webkit-filter:brightness(110%); 
  	-webkit-transform:scale(0.95);
    -moz-transform:scale(0.95);
    -ms-transform:scale(0.95);
    -o-transform:scale(0.95);
    transform:scale(0.95);
     -webkit-filter: brightness(120%);   
}


.content_03 .content li{
	display: block;
	float: left;
	margin: 5px 0 10px 10px;
}

.content_03 .img {
	position: relative;
	display: block;
}


.content_03 .btn {	
	position: absolute;
	display: block;
	z-index: 9;
	padding-top: 320px;
	margin-left: 60px;
}

.content_03 .btn ul{
}


.content_03 .btn li{
	display: block;
	margin:0 auto;
	width: 114px;	
}

.content_03 .btn li a img:hover{
	transition: 0.3s;
	-webkit-filter:brightness(120%); 
  	-webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    -o-transform:scale(0.9);
    transform:scale(0.9);
}


/*logo-shop*/

.content_04{
	width:1200px;
	height:auto;
	background-repeat:no-repeat;
	margin: 0 auto;
	display: flex;
	z-index: 1px;
}

.content_04 .content{	
	margin:0 auto;	
}

.content_04 .title{
	display: block;
	width: 1200px;
	margin:0 auto;
	margin-bottom: 30px;		
}

.content_04 .title img{
	display: block;
	margin:0 auto;	
}

.content_04 .more{
	display: block;
	margin:0 auto;		
	position: absolute;	
	margin: 65px 0 0 740px;
}

.content_04 .more img{
	display: block;
	margin:0 auto;	
}


.content_04 .more img:hover{
	transition: 0.3s;
	-webkit-filter:brightness(120%); 
  	-webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);	
}

.content_04 .content ul{	
	margin:0;	
}

.content_04 .content li{
	float: left;
	display: block;
}



.content_04 .img {
	position: relative;
	display: block;
}


/*list*/
.list_content{
	width:100%;
	margin:0 auto;
	display: block;	
	padding: 5px 60px;
	float: left;
}

.list_title{
	width: 20%;
	float: left;
	margin-right: 20px;
}


.list_shop{
	width: 70%;
	float: left;
}

.list_shop li {
  margin: 10px 0 10px 16px
}


.list_shop a{
    border: 3px #2a2a2a solid;
    border-radius: 30px;
    padding: 8px 34px;
    font-size: 23px;
    display: inline-block;
    background: #fff;
    color: #2a2a2a;
    font-family: 'Arial';
}

.list_shop a:hover{
    background: #c6feff;
    color: #2a2a2a;
    font-family: 'Arial';
}


.content_05{
	width:100%;
	margin:0 auto;
	display: block;
}

.content_05 .content{
	width:1200px;
	margin:0 auto;
	display: block;
}

.content_05 .content img:hover{
	transition: 0.3s;
	-webkit-filter:brightness(110%); 
  	-webkit-transform:scale(0.95);
    -moz-transform:scale(0.95);
    -ms-transform:scale(0.95);
    -o-transform:scale(0.95);
    transform:scale(0.95);
}

.content_05 .content img{
	margin:0 auto;
}

.content_05 .content ul{
	width:1200px;
	margin-left: 20px;
}

.content_05 .content li{
	float: left;
	display: block;
	margin:10px;
		margin-bottom: 20px;
}


/*活動辦法*/
.event{
	width: 1140px;
	display:flex;
	background-color: #fff;
	margin:0 auto;
}

.event .content{
	width: 1020px;
	margin:0 auto;	
	padding:50px 0;
}

.event b{
	width: 240px;
	margin: auto;
	line-height: 55px;
	height: 55px;
	font-size: 60px;
	font-weight: bold;
	color: #2a2a2a;
	border-bottom:3px solid #2a2a2a;
	justify-content: center; 
	align-content: center;
	flex-wrap: wrap; 	
	text-align: center;
	display: block; 
	text-align: center;
	vertical-align: middle;
	margin-bottom: 40px;
	padding-bottom:10px;	
}


.event p{
  width: 100%;
  float: left;
  text-align: left;
  font-size: 20px;
  color: #000000;
  line-height: 35px;
}


/*ˋ注意事項*/
.notice{
	width: 1140px;
	padding-bottom:20px;
	background-color: #fff;
	margin:0 auto;
	margin-top: 30px;
	display:flex;
}

.notice .content{
	width: 1020px;
	margin:0 auto;	
	padding:50px 0;
}

.notice b{
	width: 240px;
	margin: auto;
	line-height: 55px;
	height: 55px;
	font-size: 60px;
	font-weight: bold;
	color: #2a2a2a;
	border-bottom:3px solid #2a2a2a;
	justify-content: center; 
	align-content: center;
	flex-wrap: wrap; 	
	text-align: center;
	display: block; 
	text-align: center;
	vertical-align: middle;
	margin-bottom: 40px;
	padding-bottom:10px;	
}


.notice p{
  width: 100%;
  float: left;
  text-align: left;
  font-size: 20px;
  color: #000000;
  line-height: 35px;
}

.notice a{
	background-color: #2a2a2a;
	color: #fff;
	font-size: 18px;
	padding:0.5% 2%;
	border-radius:100px;
}

.notice a:hover{
	background-color: #be0d0d;
	color: #fff;
	font-size: 17px;
	padding:0.5% 2%;
	border-radius:100px;
}

.notice .text01{
	margin-left: 2%;
}

.notice .text02{
	margin-left: 8%;
}



/*------------------SOCIAL ICON---------------*/
.content_social{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	background-repeat: repeat;
}

.content_social .content{
	width: 1200px;
	height: auto;
	margin:0 auto;
}

.content_social ul{
	width: 1200px;
	margin: 0 auto;
	display: table;
}

.content_social li{
	display: table;
	float: left;
	cursor:pointer;
	padding: 0px;
}


.social{
	display: table;
	margin:0 auto;
	width: 100%;
}

.social ul{

}

.social li{
	width: 25%;
}

.social li img{
	margin: 0 auto;
	display: block;
}

.social li img:hover{
	transition: 0.3s;
	transform:translateY(2px);
	-webkit-transform:translateY(2px);
	-moz-transform:translateY(2px);
	-ms-transform:translateY(2px);
	-o-transform:translateY(2px)	
}

.social a{
	display: block;
	text-align: center;
	margin:50px auto 110px auto; 
}

.social span:hover{
	transition: 0.3s;		
}

.social span{
	display: block;
	color: #2a2a2a;
	font-weight: bolder;
	font-size:18px;
	line-height: 50px;
}



/*------------------FOOTER ICON---------------*/

.footer{
	width: 100%;
	height: 50px;
	background: #000;
	bottom: 0;
	position:fixed;
	z-index: 99999;
	opacity: 0.95;
}

.footer ul{
	width: 1200px;
	margin:0 auto;
}

.footer li{
	display: table;
	width: 50%;
	float: left;
}

.footer li a{
	width: 150px;
	display: block;
	text-align: center;
  background-color: #fff;
  border-radius: 20px;
  color: #0a0a0a;
  font-size: 17px;
  height: 30px;
  line-height: 30px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 8px auto;
  font-weight: bold;
	opacity: 1;
	border:2px solid #000;
}


.footer li a:hover{
  background-color: #ffff00;  
  border-radius: 20px;
  color: #000;	
}

.footer .join_m a{
	display: none;
}


.footer_m{
	display: none;
}


/*animate*/
.brightness-bg{
	-webkit-animation:brightness2-bg 2s -.40s linear infinite;
	animation:brightness2-bg 2s -.40s linear infinite;
}

@keyframes brightness2-bg{
0%{filter:brightness(115%)}
20%{filter:brightness(95%)}
40%{filter:brightness(115%)}
80%{filter:brightness(95%)}
100%{filter:brightness(115%)}
}

.bright{
	-webkit-animation:bright 1s -.20s linear infinite;
	animation:bright 1s -.20s linear infinite;
}

@keyframes bright{
0%{filter:brightness(90%)}
20%{filter:brightness(110%)}
40%{filter:brightness(90%)}
80%{filter:brightness(110%)}
100%{filter:brightness(90%)}
}

@-webkit-keyframes bounce-down {
    25% {
        -webkit-transform: translateY(-10px)
    }

    50%,100% {
        -webkit-transform: translateY(0)
    }

    75% {
        -webkit-transform: translateY(10px)
    }
}