@import url("reset.css");

a{-webkit-tap-highlight-color:rgba(225,225,225,0.5);}

.topbar{
	width: 100%;
	height: 38px;
	background-color: #fff;
	line-height: 38px;
	margin: 0 auto;
}

.topbar h2{
	color: #8f5e42;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	letter-spacing: 1px;
}

.sidebar{
	display: none;
}


#gotop{
	display: none;
}


.wrap{
	width: 100%;
}

.wrap img{
	border: 0px;
  vertical-align: top;
}

.arrow{
  display: block;
  position: absolute;
  left: 580px;
  animation: scroll 1s linear infinite;
}

@keyframes scroll{0%{top:735px}
50%{top:755px}
100%{top:735px}
}



.kv_desk{
	display: none;
}

.kv_content{
	display: none;
}

.kv_logo {
	display: none;
 }


.kv_slogan1{
	display: none;
}

.kv_day{
	display: none;
}

.kv_prod01{
	display: none;    
}

.kv_prod02{
	display: none;   
}


.kv_mobile{
	width: 100%;
	height: auto;
	display: block;
}

.kv_mobile img{
	width: 100%;
	height:auto;
}

/*活動內容*/
.event_container{
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
	background: none;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.event_contnet{
	margin: 0 auto;
	width:100%;
	height: auto;
	padding-top: 5%;
	padding-bottom: 1%;
}

/*tab*/

.product_wrap {
		width: 100%;
    height: auto;
}

.tabs {
    width: 100%;
    height: auto;
    margin: 0 auto 3px auto;
}

.tabs li {
	float: left;
	width: 25%;
	display: block;
  background: url(../images/tab_bg.png) top center no-repeat ;
  background-size: 100%;
  box-sizing: border-box;
}

.tabs li a {
   width: 100%;
   height: 0%;
   padding: 0px;
   align-items: end;
   display: flex;
   padding:5% 0 10% 0;
   justify-content: center;
}

.tabs li a:hover {
    background: url(../images/tab_active.png) top center no-repeat;
    background-size: 100%;
}

.tabs li.active {
    width: 25%;;
    background: url(../images/tab_active.gif) top center no-repeat;
    background-size: 100%;
}

.tabs li.active a:hover {
    -webkit-filter: brightness(115%);
    background: url(../images/btn_h01.png) top center no-repeat;
    /* Firefox */
    -webkit-transition: 0.5s;
    /* Safari and Chrome */
    -o-transition: 0.5s;
    /* Opera */
    transition: 0.5s;
}

.tabs img {
	width: 80%;
}


.tab_content {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}


#tab1{
	width: 100%;
	float: left;
}


#tab1 li{
	width: 45%;
	height: auto;
	float: left;
	padding:2% 1% 2% 3%;
}

#tab1 li img{
	width: 100%;
	float: left;
}

#tab1 li img:hover {
    -webkit-filter: brightness(1.2);
}


#tab2{
	width: 100%;
	float: left;
}


#tab2 li{
	width: 47%;
	float: left;
	padding:2% 1% 2% 2%;
}

#tab2 li img{
	width: 100%;
	float: left;
}

#tab2 li img:hover {
    -webkit-filter: brightness(1.2);
}

#tab3{
	width: 100%;
	float: left;
}


#tab3 li{
	width: 46%;
	float: left;
	padding:2% 1% 2% 2%;
}


#tab3 li img{
	width: 100%;
	float: left;
}


#tab3 li img:hover {
    -webkit-filter: brightness(1.2);
}


#tab4{
	width: 100%;
	float: left;
}


#tab4 li{
	width: 47%;
	float: left;
	padding:2% 1% 2% 2%;
}


#tab4 li img{
	width: 100%;
	float: left;
}


#tab4 li img:hover {
    -webkit-filter: brightness(1.2);
}

#tab5{
	width: 100%;
	float: left;
}


#tab5 li{
	width: 46%;
	float: left;
	padding:2% 1% 2% 2%;
}


#tab5 li img{
	width: 100%;
	float: left;
}


#tab5 li img:hover {
    -webkit-filter: brightness(1.2);
}


#tab6{
	width: 100%;
	float: left;
}


#tab6 li{
	width: 46%;
	float: left;
	padding:2% 1% 2% 2%;
}


#tab6 li img{
	width: 100%;
	float: left;
}


#tab6 li img:hover {
    -webkit-filter: brightness(1.2);
}



#tab7{
	width: 100%;
	float: left;
}


#tab7 li{
	width: 46%;
	float: left;
	padding:2% 1% 2% 2%;
}

#tab7 li img{
	width: 100%;
	float: left;
}


#tab7 li img:hover {
    -webkit-filter: brightness(1.2);
}


/*list*/

.list_content{
	width:100%;
	margin:0 auto;	
	padding: 0;
	float: left;
}

.list_title{
	width: 14%;
	margin-top: 8px;
	float: left;
	display: none;
}

.list_title_m{
	width: 100%;
	margin:0 auto;
	display: block;
	float: none;
	padding: 20px 0;
}

.list_title_m img{
	width: 70%;
	display: block;
  margin: 0 auto;	
}


.list_shop{
	width: 100%;
	float: left;
	margin-left: 2px;
}

.list_content li.list_shop {
	width: 42%;
	display: block;
  margin: 0 auto;	
}


.list_shop a{
    border: 3px #63461d solid;
    border-radius: 30px;
    padding:8px 0;
    width: 90%;
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #63461d;
    font-family: 'Arial';
    text-align:center;
}

.list_shop a:hover{
    background: #63461d;
    color: #fff;
    font-family: 'Arial';
}

.list_content2{
	width:100%;
	margin:0 auto;	
	float: left;
}

.list_title2{
	width: 14%;
	margin-top: 8px;
	float: left;
}

/*list end*/


.title{
  width:100%;
  margin: 0 auto;	
  padding:1% 0 5% 0;
}

.title img{
	width: 100%;
	display: block;
  margin: 0 auto;	
}



/*member*/

.member{
	display: inline-block;
}

.member .title{
	display: table;
  width: 100%;
  margin: 0 auto;
}


.member .title img{	
	display: block;
	margin-top:20px;	
}


.member ul{
	width: 70%;
	margin: 0 auto;
}

.member li{
	width: 100%;
	float: left;
	margin:2px 2px 2px 2px;
}

.member li img{
	width: 100%;
	float: left;
	margin:2px 2px 2px 2px;
}


.member li img:hover{
    transition: .3s;
    -webkit-filter: brightness(110%);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transform: scale(.98);
    -moz-transform: scale(.98);
    -ms-transform: scale(.98);
    -o-transform: scale(.98);
    transform: scale(.98)
}


.member .btn{
    width:100%;
    position: absolute;
    display: block;
    z-index: 9;
    margin-top: 0;
    margin-left: 0	
}

.member .btn ul {
    width: 60%;
}

.member .btn ul img {
    width: 100%;
}

.member .btn li {
    width: 50%;
    float: left;
    margin-top: 51%;
    margin-left: 0;
}

.member .btn li img {
    padding: 62% 0 0 12%;
    width: 80%;
    margin: 0 auto;
}



.member .btn li a img:hover {
    transition: .3s;
    -webkit-filter: brightness(120%);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9)
}

.member .btn2{
    width: 80%;
    position: absolute;
    display: block;
    z-index: 9;
    margin-top: 0;
    margin-left: 0	
}

.member .btn2 ul {
    width: 87%;
}

.member .btn2 ul img {
    width: 100%;
}

.member .btn2 li {
    width: 48%;
    float: left;
    margin-top: 26%;
    margin-left: 0px;
}

.member .btn2 li img {
    padding: 90% 0 0 0%;
    width: 80%;
    margin: 0 auto;
}

.member .btn2 li a img:hover {
    transition: .3s;
    -webkit-filter: brightness(120%);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9)
}




.order{
	display: inline-block;
	margin:20px 0;
}

.order img{
	display: table;
	width: 100%;
}

.order img:hover{
    transition: .3s;
    -webkit-filter: brightness(110%);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transform: scale(.98);
    -moz-transform: scale(.98);
    -ms-transform: scale(.98);
    -o-transform: scale(.98);
    transform: scale(.98)
}



.popular_list{
	display: inline-block;
}

.popular_list .title{
	display: table;
  width: 100%;
  margin: 0 auto;
}

.popular_list .title img{	
	display: block;
	margin-top:20px;	
}

.popular_list ul{
	width: 100%;
	margin-left:2%;
}

.popular_list li{
	width: 48%;
	float: left;
	margin:6px 2px 2px 2px;
}


.popular_list li img{
	width: 94%;
}

.popular_list li img:hover{
    transition: .3s;
    -webkit-filter: brightness(110%);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    transform: scale(.95)
}


.shop_list{
	display: inline-block;
	margin-bottom: 50px;
}

.shop_list .title{
	display: table;
	width: 100%;
  margin: 0 auto;
}

.shop_list .title img{	
	display: block;
	margin-top:30px;	
}

.shop_list ul{
	width: 100%;	
	margin-left:2%;
}

.shop_list li{
	width: 48%;
	float: left;
	margin:6px 2px 2px 2px;
}

.shop_list li img{
	width: 94%;
}

.shop_list li img:hover{
    transition: .3s;
    -webkit-filter: brightness(110%);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    transform: scale(.95)
}

/*------------------SOCIAL ICON---------------*/

.content_social{
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-repeat: repeat;
}

.content_social .content{
	width: 100%;
	height: auto;
	margin:0 auto;
}

.content_social ul{
	width: 100%;
	margin: 0 auto;
	display: table;
}

.content_social li{
	display: flex;
	float: left;
	cursor:pointer;
	padding:0;
}


.social{
	width: 100%;
	display: table;
	margin:0 auto;
	padding-bottom: 10%;
}

.social ul{

}

.social li{
	width:33.333%;
}

.social li img{
	width: 80%;
	margin: 0 auto;
	display: block;
}

.social li img:hover{
	transition: 0.3s;
	transform:translateY(2px);
	-webkit-transform:translateY(2px);
	-moz-transform:translateY(2px);
	-ms-transform:translateY(2px);
	-o-transform:translateY(2px)	
}

.social a{
	display: block;
	text-align: center;
	margin:10% auto 20% auto;

}

.social span:hover{
	transition: 0.3s;		
}

.social span{
	display: block;
	color: #393231;
	font-size:14px;
	font-weight: bold;
	line-height: 30px;
	padding: 5px 10px;
	border-radius: 20px;
	/*border:3px solid #fff;*/
}





		/*------------------FOOTER ICON---------------*/

		.footer{
			display: none;
		}


		.footer_m{
			width: 100%;
			height: auto;
			background: #000000;
			bottom: 0;
			position:fixed;
			z-index: 9999;
			opacity: 0.95;
			display: block;
		}

		.footer_m ul{
			width: 100%;
			margin:0 auto;
		}

		.footer_m li{
			display: table;
			width: 49%;
			float: left;
			border-right: 2px solid #fff;
		}

		.footer_m li:last-child { border-right:none; } 

		.footer_m li a{
			width: 100%;
		  display: block;
		  text-align: center;
		  border-radius: 0px;
		  background: #000000;
		  color: #fff;
		  font-size: 17px;
		  height: 36px;
		  line-height: 36px;
		  position: relative;
		  -webkit-transition: .3s;
		  transition: .3s;
		  margin: 0 auto;
		  font-weight: bold;
		  opacity: 1;
		  letter-spacing: 0.1em;
		}
