@import url("reset.css");

a{-webkit-tap-highlight-color:rgba(225,225,225,0.5);}

.topbar{
	width: 100%;
	height: 38px;
	background-color: #b7000e;
	line-height: 38px;
	margin: 0 auto;
}

.topbar h2{
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-weight: normal;
	letter-spacing: 1px;
}

.sidebar{
	display: none;
}


#gotop{
	display: none;
}


.wrap{
	width: 100%;
}

.wrap img{
	border: 0px;
  vertical-align: top;
}

.arrow{
  display: block;
  position: absolute;
  left: 580px;
  animation: scroll 1s linear infinite;
}

@keyframes scroll{0%{top:735px}
50%{top:755px}
100%{top:735px}
}



.kv_desk{
	display: none;
}

.kv_content{
	display: none;
}

.kv_logo {
	display: none;
 }


.kv_slogan1{
	display: none;
}

.kv_day{
	display: none;
}

.kv_prod01{
	display: none;    
}

.kv_prod02{
	display: none;   
}


.kv_mobile{
	width: 100%;
	height: auto;
	display: block;
}

.kv_mobile img{
	width: 100%;
	height:auto;
}

/*活動內容*/
.event_container{
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
	background: none;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.event_contnet{
	margin: 0 auto;
	width:100%;
	height:50px;
	padding-top: 5%;
	padding-bottom: 3%;
}

.nav{
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-left: 0.5%;	
}

.nav ul{
}

.nav li{
	width: 32%;
	float: left;
	display: block;
	position: relative;
	margin-left: 5px;
}

.nav li img{
	width: 99%;
}


.nav li:hover{
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;		
	-webkit-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-moz-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-ms-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-o-transform: translateY(-4px); scale(1);filter:brightness(115%);
	transform: translateY(-4px); scale(1);filter:brightness(115%);
}

.content_01{
	width:100%;
	height: auto;
	background-image:url(../images/shipping_order.png);
	background-repeat:no-repeat;
	background-size:100%;	
	margin:0 auto;
	padding-bottom:8%;
	display:inline-block;	
}

.content_01 img{
	width: 100%;
}

.content_01 ul{
	display: block;
	padding:26% 0 0 22%;
}

.content_01 li{
	width: 30%;
	float: left;
	margin:5% 0 0 5%;
}

.content_01 li:hover{
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;		
	-webkit-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-moz-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-ms-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-o-transform: translateY(-4px); scale(1);filter:brightness(115%);
	transform: translateY(-4px); scale(1);filter:brightness(115%);
}

.content_01 li img{
	width: 100%;
	margin:0;
}

.content_02{
	width:100%;
	height:auto;
	background-repeat:no-repeat;
	margin:0 auto;
	display:inline-block;
}

.content_02 .content{	
	margin:0 auto;	
}

.content_02 .title{
	display: block;
	width:100%;
	margin:0% auto 0 auto;			
}

.content_02 .title img{
	width:80%;
	display: block;
	margin:0 auto;
	padding-bottom: 3%;
}


.content_02 .content ul{	
	width:100%;
	margin-left: 3%;
}

.content_02 .content li{
	width:48%;	
	float: left;
	margin:0 auto;
}

.content_02 .content li img{
	width: 95%;
}

.content_02 .content li:hover{	
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;		
	-webkit-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-moz-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-ms-transform: translateY(-4px); scale(1);filter:brightness(115%);
	-o-transform: translateY(-4px); scale(1);filter:brightness(115%);
	transform: translateY(-4px); scale(1);filter:brightness(115%);
}


/*商品*/

.content_03{
	width:100%;
	height:auto;
	background-repeat:no-repeat;
	margin:0 auto;
}

.content_03 .content{	
	margin:0 auto;	
	width: 100%;	
}

.content_03 .title{
	display: block;
	width:100%;
	margin:3% auto 0 auto;		
}

.content_03 .title img{
	width:80%;
	display: block;
	margin:0 auto;
	padding-bottom: 3%;
}


.content_03 .content ul{	
	width: 100%;
	display: block;
	padding:0% 0% 3% 4%;
	display:inline-block;
} 

.content_03 .content li{	
	float: left;
	margin-left: 0px;
	width: 50%;
	margin:3% 0% 0% -1%;	
}

.content_03 .pic img{
	position: relative;
	display: block;
	width: 112%;
	margin:0 auto;
}

.content_03 .pic{
	width: 80%;
}

.content_03 .btn{
	width: 50%;	
	position: absolute;
	display: block;
	z-index: 9;
	margin-top: 0;
	margin-left: 0;
}

.content_03 .btn ul{
	width: 87%;
}

.content_03 .btn ul img{
	width: 100%;
}

.content_03 .btn li{
	width: 48%;
	float: left;
	margin-top: 120%;
	margin-left: 0px;

}

.content_03 .btn li img{
	padding:1% 0%;
	width: 88%;
	margin: 0 auto;
}

.content_03 .btn li a img:hover{
	transition: 0.3s;
	-webkit-filter:brightness(120%); 
  	-webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    -o-transform:scale(0.9);
    transform:scale(0.9);
}


/*logo-shop*/

.content_04{
	width:100%;
	height:auto;
	background-repeat:no-repeat;
	margin: 0 auto;
	display: flex;
	z-index: 1px;
}

.content_04 .content{	
	margin:0 auto;	
}


.content_04 .title img{
	width:80%;
	display: block;
	margin:0 auto;
	padding-bottom: 3%;
}

.content_04 .title img{
	display: block;
	margin:0 auto;	
}

.content_04 .more{
	width: 30%;
	display: block;
	margin:0 auto;		
	position: absolute;	
	margin:3% 0 0 58%;
}

.content_04 .more img{
	width: 72%;
	display: block;
	margin:0 auto;	
}


.content_04 .more img:hover{
	transition: 0.3s;
	-webkit-filter:brightness(120%); 
  	-webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);	
}

.content_04 .content ul{	
	margin:10px 0 0 8px;	
}

.content_04 .content li{
	width:47%;
	float: left;
	display: block;
	margin: 5px 0 15px 8px;
}

.content_04 .content li img{
	width:100%;
}

.content_04 .content li:hover{	
	transition: 0.3s;
	-webkit-filter:brightness(120%); 
  	-webkit-transform:scale(0.95);
    -moz-transform:scale(0.95);
    -ms-transform:scale(0.95);
    -o-transform:scale(0.95);
    transform:scale(0.95);
}


.content_04 .img {
	position: relative;
	display: block;
}


.content_05{
	width:100%;
	margin:0 auto;
	display: block;
}

.content_05 .content{
	width:100%;
	margin:5% auto ;
}

.content_05 .content img{
	width:100%;
	margin:0 auto;

}




/*活動辦法*/
.event{
	width: 100%;
	display:flex;
	background-color: #fff;
	margin:0 auto;
	font-family: "微軟正黑體" ,"Arial";		
}

.event .content{
	width: 100%;
	margin:0 auto;	
	padding:4% 4%;
}

.event b{
	width: 100%;
	margin: auto;
	line-height: 35px;
	height: 35px;
	font-size: 30px;
	font-weight: bold;
	color: #2a2a2a;
	border-bottom:3px solid #2a2a2a;
	justify-content: center; 
	align-content: center;
	flex-wrap: wrap; 	
	text-align: center;
	display: block; 
	text-align: center;
	vertical-align: middle;
	margin-bottom: 2%;
	padding-bottom:5px;	
}


.event p{
  padding: 0%;
  width: 100%;
  float: left;
  text-align: left;
  font-size: 13px;
  color: #000000;
	line-height:1.6;
	word-break: break-all;
	overflow-wrap: break-word;
}



/*ˋ注意事項*/
.notice{
	width: 100%;
	padding-bottom:20px;
	background-color: #fff;
	margin:0 auto;
	margin-top: 30px;
	display:flex;
}

.notice .content{
	width: 100%;
	margin:0 auto;	
	padding:4% 4%;
}

.notice b{
	width: 100%;
	margin: auto;
	line-height: 35px;
	height: 35px;
	font-size: 30px;
	font-weight: bold;
	color: #2a2a2a;
	border-bottom:3px solid #2a2a2a;
	justify-content: center; 
	align-content: center;
	flex-wrap: wrap; 	
	text-align: center;
	display: block; 
	text-align: center;
	vertical-align: middle;
	margin-bottom: 2%;
	padding-bottom:5px;	
}


.notice p{
  padding: 0%;
  width: 100%;
  float: left;
  text-align: left;
  font-size: 13px;
  color: #000000;
	line-height:1.6;
	word-break: break-all;
	overflow-wrap: break-word;
}

.notice a{
	background-color: #2a2a2a;
	color: #fff;
  font-size: 13px;
	padding:0.5% 2%;
	border-radius:100px;
}

.notice a:hover{
	background-color: #be0d0d;
	color: #fff;
  font-size: 13px;
	padding:0.5% 2%;
	border-radius:100px;
}

/*------------------SOCIAL ICON---------------*/

.content_social{
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-repeat: repeat;
}

.content_social .content{
	width: 100%;
	height: auto;
	margin:0 auto;
}

.content_social ul{
	width: 100%;
	margin: 0 auto;
	display: table;
}

.content_social li{
	display: flex;
	float: left;
	cursor:pointer;
	padding:0;
}


.social{
	width: 100%;
	display: table;
	margin:0 auto;
	padding-bottom: 10%;
}

.social ul{

}

.social li{
	width:33.333%;
}

.social li img{
	width: 80%;
	margin: 0 auto;
	display: block;
}

.social li img:hover{
	transition: 0.3s;
	transform:translateY(2px);
	-webkit-transform:translateY(2px);
	-moz-transform:translateY(2px);
	-ms-transform:translateY(2px);
	-o-transform:translateY(2px)	
}

.social a{
	display: block;
	text-align: center;
	margin:10% auto 20% auto;

}

.social span:hover{
	transition: 0.3s;		
}

.social span{
	display: block;
	color: #000;
	font-size:14px;
	font-weight: bold;
	line-height: 30px;
	padding: 5px 10px;
	border-radius: 20px;
	/*border:3px solid #fff;*/
}





		/*------------------FOOTER ICON---------------*/

		.footer{
			display: none;
		}


		.footer_m{
			width: 100%;
			height: auto;
			background: #000000;
			bottom: 0;
			position:fixed;
			z-index: 9999;
			opacity: 0.95;
			display: block;
		}

		.footer_m ul{
			width: 100%;
			margin:0 auto;
		}

		.footer_m li{
			display: table;
			width: 49%;
			float: left;
			border-right: 2px solid #fff;
		}

		.footer_m li:last-child { border-right:none; } 

		.footer_m li a{
			width: 100%;
		  display: block;
		  text-align: center;
		  border-radius: 0px;
		  background: #000000;
		  color: #fff;
		  font-size: 17px;
		  height: 36px;
		  line-height: 36px;
		  position: relative;
		  -webkit-transition: .3s;
		  transition: .3s;
		  margin: 0 auto;
		  font-weight: bold;
		  opacity: 1;
		  letter-spacing: 0.1em;
		}
