
@charset "utf-8";
/* CSS Document */

 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;font-family:"微軟正黑體","Microsoft JhengHei",Helvetica}
map :focus{outline:none}
a{text-decoration:none; }
body{background-repeat:no-repeat;background-position:top center;background-attachment:scroll;background-color:#1079c1;margin:0}
img{display:block;border:0}
ol,ul,li{list-style:none}
.clearfix::after{clear:both;display:block;height:0;visibility:hidden}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}


.wrap{
	max-width: 100%;
	margin: 0 auto;
	background:url(../images/index_bg.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-attachment: scroll;
}
	@media screen and (min-width: 768px) and (max-width: 1024px){
		body{
			background-color: #e8423b;
		}

		.wrap{
			background-size:contain;
		}
	}


.kv{
	max-width: 1000px;
	height: 940px;
	margin: 0 auto;
	position: relative;
}

.logo{
	display: block;
	position: absolute;
	left:20px;
}

.slogan{
	display: block;
	position: absolute;
	left:90px;
	top: 60px;
	overflow:visible;
}

.slogan img{
	margin-right: -0px;
}

	@media screen and (min-width: 768px) and (max-width: 1024px){
		.slogan{
			overflow: hidden;
		}

		.slogan img{
			margin-right: -470px;
		}

		.table img{
			margin-left:-1px;
		}

	}

.day{
	display: block;
	position: absolute;
	left:650px;
	top: 50px;
}

.content{
	max-width: 1000px;
	height: auto;
	margin: 0 auto;
	position: relative;
}

.title img , .table img{
	margin: 0 auto;
	display: block;
	margin:20px 0;
}

	@media screen and (min-width: 768px) and (max-width: 1024px){

		.table img{
			margin-left:-1%;
		}

	}

.table_f{

}

.table_r{

}

.social{
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.social ul{
	width: 100%;
	margin: 0 auto; 	
}

.social li{	
	width: 33%;
	display: inline-block;
}
.social li img{
	margin: 0 auto;
	display: block;
}

.social li img:hover{
	filter:drop-shadow(0px 0px 8px rgba(0,0,0,.3));;	
	transition: 0.3s;
}

.social a{
	display: block;
	text-align: center;
}

.social span:hover{
	transition: 0.3s;
	color: #ffff00;
}

.social span{
	display: block;
	color: #fff;
	font-size:18px;
	font-weight: bold;
	line-height: 50px;
}

.footer{
	width: 100%;
	height: 60px;
	background: #839722;
	bottom: 0;
	position: absolute;
}

.footer .join a{
	width: 150px;
	display: block;
	text-align: center;
    background-color: #fff;
    border-radius: 20px;
    color: #677c00;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    position: relative;
    -webkit-transition: .3s;
    transition: .3s;
    margin: 15px auto;
    font-weight: bold;
}