@charset "utf-8";
/* CSS Document */


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
  
}

map *:focus{
outline:none;
}

body{
	background:url(images/index_bg.jpg) no-repeat;
	background-repeat:no-repeat;
	background-position:top center;
	background-attachment: scroll;
	background-color:#b72423;
	margin: 0;
	}


img{ display:block; border:0;}

ol,ul,li{
 list-style:none;
}


.clearfix::after {
    clear: both;

    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
	display:inline-block;
    
}
html[xmlns] .clearfix {
    display: block;
}

a{ 
	transition: 0.5s all ease;
	text-decoration:none;
}

/* --TAB按鈕------------------------------------- */

.top_btn{position: fixed;right:10px;top: 0px;width: 170px;height:355px;background: url(images/tab_bg.png) no-repeat;margin: 0 auto;z-index: 99; padding-top:45px; padding-bottom:20px; text-align:center;font-weight:bold;}
.top_btn img { margin-left:40px; }
.top_btn ul { width:115px; margin:0 auto; margin-top:80px;}
.top_btn li a{ font-family: Microsoft JhengHei; font-size:15px;  color:#fff; text-decoration:none; line-height:45px;  letter-spacing:-0.5px;}
.top_btn li a span { font-size:14px; color:#fff; text-decoration:none; line-height:20px;  letter-spacing:-0.5px;}
.top_btn li a:hover , .top_btn li span:hover{ color:#fffed4; 		
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		}
.top_btn a:hover img{
		-webkit-filter: brightness(120%);
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;		
}


/* --main 標題---------------------------------------------------------------------------- */

#main{ width:1000px;
       margin:0 auto;
	}
	   

#main .bg{
	width:1000px;
	height: 530px;
	background: url(images/kv_bg.jpg) no-repeat;
	position: relative;	
	}

#main .logo{
	position:absolute;
	left:70px;
	box-sizing:border-box;
	}

#main .t1{
	position:absolute;
	top: 90px;
	left:210px;
	}

#main .t2{
	position:absolute;
	left:70px;
	top:210px;
	box-sizing:border-box;
	}
	
#main .t3{
	position: absolute;
    top: 274px;
    margin-left: 713px;
	}	


#content{
	width:1000px;
    margin:0 auto;
}

	
.content_box01 {
	margin:0 auto;
	width:1000px;
	height:740px;
}

.content_box01 ul{
	margin:0 auto;
}

.content_box01 ul.box_a{
	display:block;
	margin-left:20px;
	margin-top:10px;
}

.content_box01 ul.box_b{
	display:block;
	margin-left:155px;
	margin-top:20px;
}


.content_box01 li{
	display:inline;
	float:left;
}

/*.content_box01 li:hover{
	opacity:0.9;
	-webkit-filter: brightness(108%); 
	filter: brightness(108%);	
}*/

.content_box02 img{
	width:1000px;
	margin:0 auto;
	padding-top:15px;
}

#btn{
	width:1000px;
	height:130px;
	margin:0 auto;
	margin-bottom:20px;
}

#btn ul{
}

#btn .web_btn img{
	display:block;
}	

#btn .mobile_btn img{
	display:none;
}

#btn li a{
	display:block;
	float:left;
}

#btn li a:hover{
	-webkit-filter:brightness(110%);	
}
/* --box01---------------------------------------------------------------------------- */
#main .box01 ul{
	
}

#main .box01 li{
	float: left;
}


/* --footer---------------------------------------------------------------------------- */
		
#footer{
		background-color:#42ab17;
		width:100%;
		height:62px;
		}

#footer ul{
		width:1000PX;
		height:62PX;
		margin:0 auto;
		}
		
#footer li {
		float:left;
	     }

#footer li a.f01 {
		background:url(images/footer01.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f01:hover {
		background-color:#268400;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;				
		 }
		 
#footer li a.f02 {
		background:url(images/footer02.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f02:hover {
		background-color:#268400;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }

#footer li a.f03 {
		background:url(images/footer03.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f03:hover {
		background-color:#268400;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }
		 
#footer li a.f04 {
		background:url(images/footer04.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f04:hover {
		background-color:#268400;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }
		 
#footer li a.f05 {
		background:url(images/footer05.png) no-repeat;
		width:200px;
		height:62px;
		display:block;
	     }
		 
#footer li a.f05:hover {
		background-color:#268400;
		-moz-transition: opacity 0.5s; 
		/* Firefox */ -webkit-transition:  0.5s; 
		/* Safari and Chrome */ -o-transition:  0.5s; 
		/* Opera */ transition:  0.5s;	
		 }
		 
		 
@media screen and (min-width: 768px) and (max-width: 1024px) { 
    .top_btn { display: none;}
	#btn .mobile_btn img{
	display:block;
	}
	#btn .web_btn img{
	display:none;
	}	
}		 